<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sách</title>
</head>
<body>

    <div th:replace="fragments/layout :: header('Thông Tin Chi Tiết Sách')"></div>

    <div style="padding: 20px;" th:if="${book != null}">
        <h2 th:text="${book.title}">Tên Sách</h2>
        <p><strong>Mã Sách:</strong> <span th:text="${book.id}"></span></p>
        <p><strong>Tác giả:</strong> <span th:text="${book.author}"></span></p>
        <p><strong>Giá:</strong> <span th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span></p>

        <br/>
        <a th:href="@{/books}" style="padding: 10px 15px; background: #007bff; color: white; text-decoration: none;">Quay lại danh sách</a>
    </div>

    <div th:if="${book == null}">
        <h3>Không tìm thấy cuốn sách này!</h3>
    </div>

    <div th:replace="fragments/layout :: footer"></div>

</body>
</html>
